*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.nav1{
    background-color: #080404;
    height: 60px;
    max-width: 100%;
    display: flex;
}

.nav2{
    background-color: #282c3c;
    height: 40px;
    
}

#navlogo{
    margin-left: 15px;
    margin-top: 5px;
}
nav a{
    text-decoration: none;
    color: #fff;
    display: flex;
    margin-top:0px;
    margin-left: 40px;
}
span{
    margin-left: 4px;
}

.a1{
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 15px;
    font-size: 11px;
    color: #9a9595;
}

.a2{
    
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;

}
.location{
    position: absolute;
    left: 138px;
    top: 22px;
}

#drop , #search{
    margin-top: 11px;
    height: 38px;
}
#drop{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    width: 45px;
    border: none;
    border-top-left-radius:2px ;
    border-bottom-left-radius: 2px;
    background-color:#e8e4e4;
    color: #2d2b2b;
    cursor: pointer;
}
#search{
    border: none;
    margin-left: -4px;
    width: 740px;
    

}

#opt1{
    position: absolute;
    top: 10px;
    text-align: center;
    
   
}
#button{
    height: 38px;
    border-radius: 0;
    border: none;
    margin-top: 11px;
    border-top-right-radius: 4px;
     border-bottom-right-radius: 4px;
     cursor: pointer;
}
#button img {
    height: 38px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.cart{
    margin-top: 8px;
    margin-left: 20px;
}

#lang{
    background: none;
    color: white;
    border: none;
    border-radius: 0;
    margin-left: 20px;
}

#search::placeholder{
    padding-left: 10px;
    font-size: 15px;
}

.all{
    height: 27px;
    margin-top: 5px;
    margin-left: 10px;
}

.nav2{
    display: flex;

}
.nav2 a{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
}
.card1 {
    text-align: center;
    background: rgb(235, 232, 232);
    padding: 12px;
    margin-bottom: 20px; 
    font-size: 13px;

}
.card1 a{
    text-decoration: none;
    color: rgb(76, 76, 203);
}

.card1 a:hover{
    text-decoration: underline;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,400px);
    gap: 20px;
}
.content {
    background-color: rgb(255, 255, 255);
    border: 0.01rem solid #080404;
    border-radius: 1px;
    
    
}

.combine {
    padding: 0 20px 0 20px; 
    position: absolute;     
    top: 340px;            
    left: 0;
    right: 0;
}

.gaming{
    width: 320px;
    margin-left: 10px;
    margin-top: 20px;

}

.text{
    margin-left: 14px;
    margin-top: 14px;
    font-size: 21px;
}